<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>com.kopiro.vscode-project-manager-for-alfred</string>
		<key>connections</key>
		<dict>
			<key>2B350811-49F3-403C-8DBD-30C8AB137B0D</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>8393222F-EC13-4596-9D59-DA85BDA3F117</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>kopiro</string>
		<key>description</key>
		<string>Alfred integration of Project Manager for VSCode</string>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>VSCode Project Manager</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>openwith</key>
					<string>/Applications/Visual Studio Code.app</string>
					<key>sourcefile</key>
					<string></string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.openfile</string>
				<key>uid</key>
				<string>8393222F-EC13-4596-9D59-DA85BDA3F117</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false/>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<true/>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>code</string>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<true/>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Please wait</string>
					<key>script</key>
					<string>/usr/bin/python parser.py "{query}"</string>
					<key>scriptargtype</key>
					<integer>0</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string></string>
					<key>title</key>
					<string>Open VSCode Project</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>2B350811-49F3-403C-8DBD-30C8AB137B0D</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>readme</key>
		<string></string>
		<key>uidata</key>
		<dict>
			<key>2B350811-49F3-403C-8DBD-30C8AB137B0D</key>
			<dict>
				<key>xpos</key>
				<integer>200</integer>
				<key>ypos</key>
				<integer>155</integer>
			</dict>
			<key>8393222F-EC13-4596-9D59-DA85BDA3F117</key>
			<dict>
				<key>xpos</key>
				<integer>405</integer>
				<key>ypos</key>
				<integer>150</integer>
			</dict>
		</dict>
		<key>variablesdontexport</key>
		<array/>
		<key>version</key>
		<string>0.0.1</string>
		<key>webaddress</key>
		<string>https://www.kopiro.me</string>
	</dict>
</plist>
